{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if 'my_articles' in request.path %}
<div class="alert alert-info">
    <h3>自身の記事</h3>
</div>

{% elif 'good_articles' in request.path %}
<div class="alert alert-info">
    <h3>goodした記事</h3>
</div>

{% else %}
<div class="alert alert-info">
    <h3>SNS TOP</h3>
</div>
<form action="{% url 'snsapp:index' %}" method="POST" class="search mx-auto row">{% csrf_token %}
    <div class="input-group col-lg-4 col-md-6 row ml-auto mr-4 mb-4">
        <div class="col-3 p-0">
            {{ search_form.select }}
        </div>
        <div class="col-8 p-0">
            {{ search_form.keyword }}
        </div>
        <div class="input-group-append col-1 p-0">
            <button class="btn btn-primary" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</form>
{% endif %}

<div class="container-fulid px-3 mb-5">
    <div class="container bg-info rounded-lg">
        <p class="h2 text-light d-inline-block ml-3 my-1">最近の投稿</p>
    </div>
    <div class="container pt-3 mb-5 border border-info rounded" id="article">
        {% include 'snsapp/article_list.html' %}
        <nav>
            <ul class="pagination justify-content-center">
                {% if articles.has_previous %}
                <li class="page-item"><a class="page-link" href="{% url 'snsapp:index' %}?page=1">&laquo;</a></li>
                <li class="page-item">
                    <a class="page-link" href="{% url 'snsapp:index' %}?page={{ articles.previous_page_number }}">
                        {{ articles.previous_page_number }}</a>
                </li>
                {% endif %}
                <li class="page-item active">
                    <span class="page-link" href="#">{{ articles.number }}</span>
                </li>
                {% if articles.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'snsapp:index' %}?page={{ articles.next_page_number }}">
                        {{ articles.next_page_number }}</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="{% url 'snsapp:index' %}?page={{ articles.paginator.num_pages }}">
                        &raquo;</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript" src="https://kit.fontawesome.com/c25d00f6dc.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script type="text/javascript" src="{% static 'js/display_eval.js' %}"></script>
<script type="text/javascript" src="{% static 'js/article.js' %}"></script>
{% endblock %}