{% extends 'base.html' %}
{% load humanize %}

{% block content %}

<h2 class="text-secondary">ポイント履歴</h2>
<div class="container my-4">
    <table class="table table-striped border">
        <tr>
            <th>日時</th>
            <th>イベント</th>
            <th>ポイント増減</th>
        </tr>
        {% for pf in point_fluctuations %}
        <tr>
            <td>{{ pf.created_at　| date:"Y/m/d" }}</td>
            <td>{{ pf.event }}</td>
            <td>{{ pf.change | intcomma }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

<nav>
    <ul class="pagination justify-content-center">
        {% if point_fluctuations.has_previous %}
        <li class="page-item"><a class="page-link" href="{% url 'users:point_history' %}?page=1">&laquo;</a></li>
        <li class="page-item">
            <a class="page-link"
                href="{% url 'users:point_history' %}?page={{ point_fluctuations.previous_page_number }}">
                {{ point_fluctuations.previous_page_number }}</a>
        </li>
        {% endif %}
        <li class="page-item active">
            <span class="page-link" href="#">{{ point_fluctuations.number }}</span>
        </li>
        {% if point_fluctuations.has_next %}
        <li class="page-item">
            <a class="page-link" href="{% url 'users:point_history' %}?page={{ point_fluctuations.next_page_number }}">
                {{ point_fluctuations.next_page_number }}</a>
        </li>
        <li class="page-item">
            <a class="page-link"
                href="{% url 'users:point_history' %}?page={{ point_fluctuations.paginator.num_pages }}">
                &raquo;</a>
        </li>
        {% endif %}
    </ul>
</nav>

<div class="float-right mr-4 mb-5">
    <h4><span class="small">現在: </span>{{ request.user.point | intcomma }}<span class="small">point</span></h4>
</div>

{% endblock %}